<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>Germ Stoppers</title>
  <link rel="stylesheet" href="/stylesheets/foundation.css">
  <!-- includes the Braintree JS client SDK -->
  <script src="https://js.braintreegateway.com/web/dropin/1.25.0/js/dropin.min.js"></script>
  <!-- includes jQuery -->
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <header class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">GERM STOPPERS</li>
          {{#if loggedIn}}
          <li><a href="/newOrder">New Order</a></li>
          <li><a href="/processPayments">Process Payments</a></li>
          <li><a href="/salesHistory">Sales History</a></li>
          <li><a href="/newAdmin">New Admin</a></li>
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <li><a href="/login">Admin Login</a></li>
          {{/if}}
        </ul>
      </div>
    </header>
    <main>
      {{{ body }}}
    </main>
    <!-- Footer with copyright -->
    <footer class="callout margin-footer">
      <ul class="menu simple">
        <li><a>&copy 2020 GERM STOPPERS</a></li>
        <li><a>Developers: Abel Estrada, Vu Tang</a></li>
      </ul>
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>