<div id="dropin-wrapper">
  <label id="amountLabel" for="amount">Order Amount</label>
  <input type="text" id="amount" name="amount" placeholder="10.00" />
  <div id="checkout-message"></div>
  <div id="retry"></div>
  <div id="dropin-container"></div>
  <button id="submit-button">Submit payment</button>
</div>

<script src="/javascript/processPayments.js"></script>